
<% if @recruiting.errors.any? %>
  <%= @recruiting.errors.count %>件のエラーが発生しました
  <ul>
    <% @recruiting.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @recruiting, url: users_recruitings_path do |f| %>


<div>
  タイトル
</div>
<div>
  <%= f.text_field :title %>
</div>

<div>
  コメント
</div>
<div>
  <%= f.text_area :comment %>
</div>

<div>
  希望日時
</div>
<div>
  <%= f.datetime_field :datetime %>
</div>

<div>
  集合場所
</div>
<div>
  <%= f.text_field :place %>
</div>

<div>
  <%= f.submit '投稿' %>
</div>
<% end %>

<% @recruitings.each do |recruiting| %>
<table class="table text-center" style ="background-color:#D7EEFF; ">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>希望日時</th>
      <th>集合場所</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to recruiting.title, "/users/recruitings/#{recruiting.id}"%></td>
      <td><%= recruiting.datetime %></td>
      <td><%= recruiting.place %></td>
    </tr>
  </tbody>
</table>


<% end %>