<%= form_with model: @recruiting, url: users_recruitings_path do |f| %>

<div>
  タイトル
</div>
<div>
  <%= f.text_field :title %>
</div>

<div>
  コメント
</div>
<div>
  <%= f.text_area :comment %>
</div>

<div>
  希望日時
</div>
<div>
  <%= f.datetime_field :datetime %>
</div>

<div>
  集合場所
</div>
<div>
  <%= f.text_field :place %>
</div>

<div>
  <%= f.submit '投稿' %>
</div>
<% end %>

<% @recruitings.each do |recruiting| %>

    <div class= "mt-4 mr-5 d-flex justify-content-center">タイトル</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= recruiting.title %></div>

    <div class= "mt-3 mr-5 d-flex justify-content-center">希望日時</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= recruiting.datetime %></div>

    <div class= "mt-3 mr-5 d-flex justify-content-center">集合場所</div>
    <div class= "ml-5 pl-5 my-2 d-flex justify-content-center font-weight-bold" style= "color: red;"><%= recruiting.place %></div>
    
<% end %>